<div class="row">
<form (submit)="guardarUsuario()" [formGroup]="form">
<div>
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput>
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampos()}}</mat-error>
    </mat-form-field>
    </div>
    <div>
    <!-- */con cuadro*/ -->
    <mat-form-field appearance="outline">
    <mat-label>password*</mat-label>
    <input type="password" formControlName="password" matInput>
    <mat-error *ngIf="form.invalid">{{obtenerErrorCampos()}}></mat-error>
</mat-form-field>
    </div>
<div>
    <button ma-button color="primary"
    [disabled]="form.invalid">Guardar</button>
    <a mat-stroked-button>Cancelar</a>
</div>
</form>
</div>
